/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.list-group-item-app {
  /* position: relative; */
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  /* border: 1px solid rgba(0,0,0,.125); */
}

#dataNew{
  float:right;

}

#studyNew {
  float: right;
}

#idiomNew {
  float: right;
}
