<h1>Student Profile</h1>

<div class="row">
  <div class="column">
    <figure class="figure">
      <img [src]="imageURL" class="figure-img img-fluid rounded" alt="A generic profile figure." width="150">
      <figcaption class="figure-caption">Nombre y Apellidos</figcaption>
    </figure>
  </div>
  <div class="column">
    <ul class="list-group">
      <li class="list-group-item-app">Email: </li>
      <li class="list-group-item-app">Fecha de nacimiento: </li>
      <li class="list-group-item-app">Teléfono</li>
      <li class="list-group-item-app">NIF/NIE:</li>
      <li class="list-group-item-app">Permiso de conducir: </li>

    </ul>
  </div>
  <div class="column">
    <label>Acerca de mi...</label>
    <p>Aqui va relleno</p>
  </div>
  <div class="column">
    <label>Otras competencias</label>
    <p>Aqui va relleno</p>
  </div>
</div>



<h2>Formación académica</h2>
<table class="table">
  <thead>
    <tr class="table-info">
      <th scope="col">Nivel</th>
      <th scope="col">Título</th>
      <th scope="col">Centro</th>
      <th scope="col">Fecha</th>
      <th scope="col">Certificado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>

<h2>Experiencia laboral</h2>
<table class="table">
  <thead>
    <tr class="table-info">
      <th scope="col">Empresa</th>
      <th scope="col">Puesto</th>
      <th scope="col">Fechas</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>

    </tr>
  </tbody>
</table>

<h2>Idiomas</h2>
<table class="table">
  <thead>
    <tr class="table-info">
      <th scope="col">Nivel</th>
      <th scope="col">Idioma</th>
      <th scope="col">Fecha</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>

    </tr>
  </tbody>
</table>

