<form [formGroup]="rForm" (submit)="submit()">
  <div class="form-group">
    <label for="institution">Centro educativo</label>
    <input
      type="text"
      class="col-sm-10 form-control"
      name="institution"
      formControlName="institution"
    />
  </div>

  <div class="form-group">
    <label for="title">Título</label>
    <input
      type="text"
      class="col-sm-10 form-control"
      name="title"
      formControlName="title"
    />
  </div>

  <div class="form-group">
    <label for="date">Fecha de obtención del título</label>
    <input
      type="text"
      name="date"
      class="col-sm-10 form-control"
      formControlName="date"
    />
  </div>
  <div class="form-group">
    <label for="bilingue">Bilingue</label>
    <input
      type="checkbox"
      name="bilingue"
      class="form-check-input"
      formControlName="bilingue"
    />
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
