.btn .btn-warning{
  float: right;
}

/* Create two equal columns that floats next to each other */
.column { 
  width: 100%;
 
}

.list-group-item-app {
  /* position: relative; */
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  /* border: 1px solid rgba(0,0,0,.125); */
}
