<h1>Personal Data Form</h1>

<div class="row">
  <div class="column col-md-4">
    <figure class="figure">
      <img [src]="imageURL" class="figure-img img-fluid rounded" alt="A generic profile figure." width="150">
      <figcaption class="figure-caption">{{user.email}}</figcaption>
    </figure>
  </div>
  <div class="column col-md-6">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Nombre</label>
          <input type="text" class="form-control" id="inputName" placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSurname">Apellidos</label>
          <input type="text" class="form-control" id="inputSurname" placeholder="Apellidos">
        </div>
      </div>
        <div class="form-group">
          <label for="inputBirthdayDate">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="inputBirthdayDate" placeholder="">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPhone1">Teléfono 1</label>
            <input type="tel" class="form-control" id="inputPhone1">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone2">Teléfono 2</label>
            <input type="tel" class="form-control" id="inputPhone2">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputDocument">DNI/NIF</label>
            <select id="inputDocument" class="form-control">
              <option selected>Elige...</option>
              <option>DNI</option>
              <option>NIE</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputNumber">Número</label>
            <input type="text" class="form-control" id="inputNumber" placeholder="00000000A">
          </div>
        </div>
          <div class="form-group">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="C/ Estación...">
          </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputProvince">Provincia</label>
            <select id="inputProvince" class="form-control">
              <option selected>Elige...</option>
              <option>Alicante</option>
              <option>Valencia</option>
              <option>Castellón</option>
              <option>Barcelona</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputMunicipe">Municipio</label>
            <select id="inputMunicipe" class="form-control">
              <option selected>Elige...</option>
              <option>Bétera</option>
              <option>La Eliana</option>
              <option>San Juan de Alicante</option>
              <option>Onda</option>
            </select>
          </div>
        </div>
          <div class="form-group col-md-6">
            <label for="inputLicense">Permiso de conducir</label>
            <input type="text" class="form-control" id="inputLicense" placeholder="A1, B...">
          </div>

          <div class="form-group">
            <label for="inputAboutMe">Sobre mí</label>
            <textarea class="form-control" id="inputAboutMe" rows="3"></textarea>

        </div>
          <div class="form-group">
            <label for="inputOtherCompetences">Otras competencias</label>
            <textarea class="form-control" id="inputOtherCompetences" rows="3"></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
  </div>
  
