<h1>Personal Data Form</h1>
<div class="form-container">
  <form [formGroup]="personalDataForm">
    <div class="form-row">
      <div class="column col-md-4 imgUp">

        <div class="imagePreview"></div>
        <label class="btn btn-primary">
          Upload<input type="file" formControlName="inputAvatar" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
        </label>
        <figcaption class="figure-caption">{{user.email}}</figcaption>
      </div>

      <div class="column  col-md-6">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" formControlName="inputName" placeholder="Nombre" value="{{user.name}}">
          </div>
          <div class="form-group col-md-6">
            <label for="inputSurname">Apellidos</label>
            <input type="text" class="form-control" formControlName="inputSurname" placeholder="Apellidos" value="{{user.surname}}">
          </div>
        </div>
          <div class="form-group">
            <label for="inputBirthdayDate">Fecha de Nacimiento</label>
            <input type="date" class="form-control" formControlName="inputBirthdayDate" placeholder="" value="{{user.birthdate}}">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPhone1">Teléfono 1</label>
              <input type="tel" class="form-control" formControlName="inputPhone1" value="{{user.phone}}">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPhone2">Teléfono 2</label>
              <input type="tel" class="form-control" formControlName="inputPhone2" value="{{user.phone2}}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDocument">DNI/NIF</label>
              <select formControlName="inputDocument" #iDoc (change)="changeValidation(iDoc.value)" class="form-control">
                <option [value]="documentType" *ngFor="let documentType of documentTypes">{{documentType}}</option>
               </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputNumber">Número</label>
              <input type="text" class="form-control" formControlName="inputNumber" placeholder="00000000A" value="{{user.documentNumber}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" formControlName="inputAddress" placeholder="C/ Estación..." value="{{user.address.street}}">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputProvince">Provincia</label>
              <select formControlName="inputProvince" class="form-control">
                <option [value]="province" *ngFor="let province of provinces">{{province}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputMunicipe">Municipio</label>
              <select formControlName="inputMunicipe" class="form-control">
                <option [value]="municipe" *ngFor="let municipe of municipes">{{municipe}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputLicense">Permiso de conducir</label>
            <input type="text" class="form-control" formControlName="inputLicense" placeholder="A1, B..." value="{{user.license}}">
          </div>

          <div class="form-group">
            <label for="inputAboutMe">Sobre mí</label>
            <ckeditor [editor]="Editor" formControlName="inputAboutMe" data="{{user.aboutMe}}"></ckeditor>

            <!-- <textarea class="form-control" id="inputAboutMe" rows="3"></textarea> -->

          </div>
          <div class="form-group">
            <label for="inputOtherCompetences">Otras competencias</label>
            <ckeditor [editor]="Editor" formControlName="inputOtherCompetences" data="{{user.otherCompetences}}"></ckeditor>

            <!-- <textarea class="form-control" id="inputOtherCompetences" rows="3"></textarea>-->

          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
  </form>
</div>


