<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <img mat-card-image src="/assets/img/uoc_logo.png" alt="Logo UOC">
      <mat-card>
        <mat-card-header [style.backgroundColor]="'#5a5ad8'" [style.color]="'#ffffff'">
          <mat-card-title>Login</mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="errorLogin" class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">
                &times;
              </button>

              There is an error in email or password
            </div>
            <table>
              <tr>
                <td>
                  <mat-form-field>
                    <label for="email">Email</label>
                    <input matInput type="text" id="email" formControlName="email" class="form-control" [ngClass]="{
                      'is-invalid': submitted && loginForm.controls.email.errors
                    }" />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <label for="password">Password</label>
                    <input matInput type="password" id="password" formControlName="password" class="form-control"
                      [ngClass]="{'is-invalid': submitted && loginForm.controls.password.errors}" />
                  </mat-form-field>
                </td>
              </tr>
            </table>

          </form>
        </mat-card-content>

        <mat-card-actions class="buttons">
          <button mat-raised-button [disabled]="loginForm.invalid" class="btn btn-primary">
            Login
          </button>
          <a routerLink="/forgot-password" class="btn btn-link">Remember password</a>
        </mat-card-actions>
  

    </mat-card>
  </div>
</div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <img src="/assets/img/uoc_logo.png" />

      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div *ngIf="errorLogin" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>

          There is an error in email or password
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && loginForm.controls.email.errors
            }"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && loginForm.controls.password.errors
            }"
          />
        </div>
        <div class="form-group">
          <button [disabled]="loginForm.invalid" class="btn btn-primary">
            Login
          </button>
          <a routerLink="/forgot-password" class="btn btn-link"
            >Remember password</a
          >
        </div>
      </form>
    </div>
  </div>
</div>-->